In [2]:
import pandas as pd

In [3]:
a=pd.read_excel("D:\yahiya\Adidas US Sales Datasets.xlsx")
a

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.00,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.00,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.00,0.35,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.00,0.35,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.00,0.30,In-store
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9643,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Men's Apparel,50.0,64,3200.0,896.00,0.28,Outlet
9644,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Women's Apparel,41.0,105,4305.0,1377.60,0.32,Outlet
9645,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Street Footwear,41.0,184,7544.0,2791.28,0.37,Outlet
9646,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42.0,70,2940.0,1234.80,0.42,Outlet
9647,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,2407.0,649.89,0.27,Outlet

In [5]:
a=pd.DataFrame(a)

In [5]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9648 non-null   object
 1   Retailer ID       9648 non-null   int64
 2   Invoice Date      9648 non-null   datetime64[ns]
 3   Region            9648 non-null   object
 4   State             9648 non-null   object
 5   City              9648 non-null   object
 6   Product           9648 non-null   object
 7   Price per Unit    9648 non-null   float64
 8   Units Sold        9648 non-null   int64
 9   Total Sales       9648 non-null   float64
 10  Operating Profit  9648 non-null   float64
 11  Operating Margin  9648 non-null   float64
 12  Sales Method      9648 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(6)
memory usage: 980.0+ KB

In [10]:
a["Retailer"].describe()

count            9648
unique              6
top       Foot Locker
freq             2637
Name: Retailer, dtype: object

In [39]:
a["Retailer"].value_counts()

Foot Locker      2637
West Gear        2374
Sports Direct    2032
Kohl's           1030
Amazon            949
Walmart           626
Name: Retailer, dtype: int64

In [21]:
a.columns

Index(['Retailer', 'Retailer ID', 'Invoice Date', 'Region', 'State', 'City',
       'Product', 'Price per Unit', 'Units Sold', 'Total Sales',
       'Operating Profit', 'Operating Margin', 'Sales Method'],
      dtype='object')

In [16]:
a.loc[a["Retailer"]=="Amazon"].describe()

,Retailer ID,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin
count,949.0,949.000000,949.000000,949.000000,949.000000,949.000000
mean,1185732.0,48.759747,208.630137,81874.512118,30367.232150,0.417871
std,0.0,11.832303,169.646546,113390.214535,44192.495075,0.084018
min,1185732.0,19.000000,13.000000,416.000000,166.400000,0.250000
25%,1185732.0,40.000000,84.000000,3808.000000,1661.920000,0.350000
50%,1185732.0,50.000000,149.000000,7876.000000,3931.200000,0.400000
75%,1185732.0,56.000000,275.000000,137500.000000,47250.000000,0.490000
max,1185732.0,80.000000,900.000000,618750.000000,290625.000000,0.650000

In [17]:
a["Retailer"].value_counts()

Foot Locker      2637
West Gear        2374
Sports Direct    2032
Kohl's           1030
Amazon            949
Walmart           626
Name: Retailer, dtype: int64

In [18]:
a["Invoice Date"].describe()

C:\Users\rousa\AppData\Local\Temp/ipykernel_1944/23830285.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  a["Invoice Date"].describe()

count                    9648
unique                    724
top       2021-01-17 00:00:00
freq                       77
first     2020-01-01 00:00:00
last      2021-12-31 00:00:00
Name: Invoice Date, dtype: object

In [22]:
a["Sales Method"].value_counts()

Online      4889
Outlet      3019
In-store    1740
Name: Sales Method, dtype: int64

In [23]:
a["Product"].value_counts()

Men's Street Footwear        1610
Men's Athletic Footwear      1610
Women's Street Footwear      1608
Women's Apparel              1608
Women's Athletic Footwear    1606
Men's Apparel                1606
Name: Product, dtype: int64

In [27]:
a["State"].value_counts()

California        432
Texas             432
New York          360
Florida           360
Mississippi       216
Oregon            216
Louisiana         216
Idaho             216
New Mexico        216
Georgia           216
Arkansas          216
Virginia          216
Oklahoma          216
Connecticut       216
Rhode Island      216
Massachusetts     216
Vermont           216
Utah              216
Arizona           216
New Hampshire     216
Pennsylvania      216
Nevada            216
Alabama           216
Tennessee         216
South Dakota      144
Illinois          144
Colorado          144
New Jersey        144
Delaware          144
Maryland          144
West Virginia     144
Indiana           144
Wisconsin         144
Iowa              144
North Dakota      144
Michigan          144
Kansas            144
Missouri          144
Minnesota         144
Montana           144
Kentucky          144
Ohio              144
North Carolina    144
South Carolina    144
Nebraska          144
Maine             144
Alaska            144
Hawaii            144
Wyoming           144
Washington        144
Name: State, dtype: int64

In [30]:
a["City"].value_counts()

Portland          360
Charleston        288
Orlando           216
Salt Lake City    216
Houston           216
Boise             216
Phoenix           216
Albuquerque       216
Atlanta           216
New York          216
Jackson           216
Little Rock       216
Oklahoma City     216
Hartford          216
Providence        216
Boston            216
Burlington        216
Richmond          216
New Orleans       216
Manchester        216
Dallas            216
Philadelphia      216
Knoxville         216
Birmingham        216
Las Vegas         216
Los Angeles       216
San Francisco     216
Chicago           144
Newark            144
Baltimore         144
Indianapolis      144
Milwaukee         144
Des Moines        144
Fargo             144
Sioux Falls       144
Wichita           144
Wilmington        144
Honolulu          144
Albany            144
Louisville        144
Columbus          144
Charlotte         144
Seattle           144
Miami             144
Minneapolis       144
Billings          144
Omaha             144
St. Louis         144
Detroit           144
Anchorage         144
Cheyenne          144
Denver            144
Name: City, dtype: int64

In [31]:
a["City"].describe()

count         9648
unique          52
top       Portland
freq           360
Name: City, dtype: object

In [32]:
a["State"].describe()

count           9648
unique            50
top       California
freq             432
Name: State, dtype: object

In [33]:
a["Region"].value_counts()

West         2448
Northeast    2376
Midwest      1872
South        1728
Southeast    1224
Name: Region, dtype: int64

In [34]:
a["Region"].describe()

count     9648
unique       5
top       West
freq      2448
Name: Region, dtype: object

In [38]:
a["Retailer"].value_counts()

Foot Locker      2637
West Gear        2374
Sports Direct    2032
Kohl's           1030
Amazon            949
Walmart           626
Name: Retailer, dtype: int64

In [40]:
a["Retailer"].describe()

count            9648
unique              6
top       Foot Locker
freq             2637
Name: Retailer, dtype: object

In [93]:
a["Product"].describe()

count                      9648
unique                        6
top       Men's Street Footwear
freq                       1610
Name: Product, dtype: object

In [96]:
a["Product"].value_counts()

Men's Street Footwear        1610
Men's Athletic Footwear      1610
Women's Street Footwear      1608
Women's Apparel              1608
Women's Athletic Footwear    1606
Men's Apparel                1606
Name: Product, dtype: int64

In [4]:
z=a[a["Retailer"]=="Amazon"]

In [5]:
f=a[a["Retailer"]=="Foot Locker"]

In [6]:
g=a[a["Retailer"]=="West Gear"]

In [45]:
s=a[a["Retailer"]=="Sports Direct"]

In [8]:
k=a[a["Retailer"]=="Kohl's"]

In [9]:
w=a[a["Retailer"]=="Walmart"]

In [59]:
z["City"].describe()

count            949
unique             9
top       Burlington
freq             204
Name: City, dtype: object

In [60]:
f["City"].describe()

count             2637
unique              32
top       Philadelphia
freq               204
Name: City, dtype: object

In [70]:
g["City"].describe()

count         2374
unique          23
top       Portland
freq           224
Name: City, dtype: object

In [62]:
s["City"].describe()

count            1030
unique             12
top       Los Angeles
freq              204
Name: City, dtype: object

In [64]:
k["City"].describe()

count            1030
unique             12
top       Los Angeles
freq              204
Name: City, dtype: object

In [65]:
w["City"].describe()

count         626
unique          6
top       Houston
freq          150
Name: City, dtype: object

In [67]:
f["City"].value_counts()

Philadelphia    204
Phoenix         177
Richmond        177
Charleston      156
Providence      150
New York        138
Chicago         136
Minneapolis     136
Omaha           136
St. Louis       118
Wilmington      100
Des Moines      100
Sioux Falls     100
Jackson          84
Boise            81
Manchester       81
Honolulu         74
Hartford         66
Baltimore        58
Miami            52
Wichita          44
Fargo            44
Atlanta          39
Louisville       36
New Orleans      36
Detroit          26
Cheyenne         26
Anchorage        18
Los Angeles      12
Knoxville        12
Dallas           12
Seattle           8
Name: City, dtype: int64

In [71]:
g["City"].value_counts()

Portland          224
Salt Lake City    216
Las Vegas         216
San Francisco     204
New Orleans       180
Oklahoma City     150
Indianapolis      144
Milwaukee         144
Denver            144
Seattle           136
Albany            118
Charleston        106
Boise              75
Little Rock        66
Miami              52
Baltimore          46
Des Moines         44
Orlando            39
St. Louis          26
Houston            12
Philadelphia       12
Burlington         12
Columbus            8
Name: City, dtype: int64

In [72]:
s["City"].value_counts()

Los Angeles      204
Albuquerque      177
Billings         136
Cheyenne         118
Wichita          100
Newark           100
Oklahoma City     66
Wilmington        44
Phoenix           39
Albany            26
San Francisco     12
Minneapolis        8
Name: City, dtype: int64

In [73]:
k["City"].value_counts()

Los Angeles      204
Albuquerque      177
Billings         136
Cheyenne         118
Wichita          100
Newark           100
Oklahoma City     66
Wilmington        44
Phoenix           39
Albany            26
San Francisco     12
Minneapolis        8
Name: City, dtype: int64

In [74]:
z["City"].value_counts()

Burlington    204
Portland      136
Columbus      136
Manchester    135
Anchorage     126
Louisville    108
Boston         66
Charlotte      26
Birmingham     12
Name: City, dtype: int64

In [75]:
w["City"].value_counts()

Houston        150
Orlando        150
Little Rock    150
New York        66
Jackson         66
Honolulu        44
Name: City, dtype: int64

In [76]:
f["Total Sales"].sum()

220094720.0

In [77]:
g["Total Sales"].sum()

242964333.0

In [78]:
s["Total Sales"].sum()

102114753.0

In [79]:
k["Total Sales"].sum()

102114753.0

In [80]:
z["Total Sales"].sum()

77698912.0

In [81]:
w["Total Sales"].sum()

74558410.0

In [82]:
f["Operating Profit"].sum()

80722124.81

In [83]:
g["Operating Profit"].sum()

85667873.18

In [84]:
s["Operating Profit"].sum()

36811252.580000006

In [85]:
k["Operating Profit"].sum()

36811252.580000006

In [86]:
z["Operating Profit"].sum()

28818503.31

In [92]:
w["Operating Profit"].sum()

25782052.61

In [10]:
ms=a[a["Product"]=="Men's Street Footwear"]

In [11]:
mf=a[a["Product"]=="Men's Athletic Footwear"]

In [12]:
ma=a[a["Product"]=="Men's Apparel"]

In [13]:
ws=a[a["Product"]=="Women's Street Footwear"]

In [14]:
wf=a[a["Product"]=="Women's Athletic Footwear"]

In [15]:
wa=a[a["Product"]=="Women's Apparel"]

In [108]:
ms.value_counts("Retailer")

Retailer
Foot Locker      449
West Gear        394
Sports Direct    335
Kohl's           172
Amazon           159
Walmart          101
dtype: int64

In [109]:
mf.value_counts("Retailer")

Retailer
Foot Locker      442
West Gear        396
Sports Direct    337
Kohl's           172
Amazon           159
Walmart          104
dtype: int64

In [110]:
ma.value_counts("Retailer")

Retailer
Foot Locker      433
West Gear        393
Sports Direct    339
Kohl's           171
Amazon           157
Walmart          113
dtype: int64

In [111]:
ws.value_counts("Retailer")

Retailer
Foot Locker      438
West Gear        400
Sports Direct    342
Kohl's           172
Amazon           157
Walmart           99
dtype: int64

In [112]:
wf.value_counts("Retailer")

Retailer
Foot Locker      442
West Gear        395
Sports Direct    338
Kohl's           171
Amazon           158
Walmart          102
dtype: int64

In [113]:
wa.value_counts("Retailer")

Retailer
Foot Locker      433
West Gear        396
Sports Direct    341
Kohl's           172
Amazon           159
Walmart          107
dtype: int64

In [131]:
f.max()

Retailer                        Foot Locker
Retailer ID                         1197831
Invoice Date            2021-12-31 00:00:00
Region                                 West
State                               Wyoming
City                             Wilmington
Product             Women's Street Footwear
Price per Unit                        105.0
Units Sold                             1275
Total Sales                        765000.0
Operating Profit                   382500.0
Operating Margin                        0.7
Sales Method                         Outlet
dtype: object

In [177]:
f.min()

Retailer                    Foot Locker
Retailer ID                     1128299
Invoice Date        2020-01-01 00:00:00
Region                          Midwest
State                            Alaska
City                          Anchorage
Product                   Men's Apparel
Price per Unit                      9.0
Units Sold                            0
Total Sales                         0.0
Operating Profit                    0.0
Operating Margin                   0.15
Sales Method                   In-store
dtype: object

In [132]:
g.max()

Retailer                          West Gear
Retailer ID                         1197831
Invoice Date            2021-12-23 00:00:00
Region                                 West
State                             Wisconsin
City                              St. Louis
Product             Women's Street Footwear
Price per Unit                        110.0
Units Sold                             1150
Total Sales                        825000.0
Operating Profit                   341250.0
Operating Margin                       0.77
Sales Method                         Outlet
dtype: object

In [178]:
g.min()

Retailer                      West Gear
Retailer ID                     1128299
Invoice Date        2020-01-02 00:00:00
Region                          Midwest
State                          Arkansas
City                             Albany
Product                   Men's Apparel
Price per Unit                      7.0
Units Sold                            7
Total Sales                       203.0
Operating Profit                  93.38
Operating Margin                    0.1
Sales Method                   In-store
dtype: object

In [133]:
s.max()

Retailer                             Kohl's
Retailer ID                         1197831
Invoice Date            2021-12-25 00:00:00
Region                                 West
State                               Wyoming
City                             Wilmington
Product             Women's Street Footwear
Price per Unit                         75.0
Units Sold                              950
Total Sales                        520000.0
Operating Profit                   236250.0
Operating Margin                       0.75
Sales Method                         Outlet
dtype: object

In [179]:
s.min()

Retailer                         Kohl's
Retailer ID                     1128299
Invoice Date        2020-12-28 00:00:00
Region                          Midwest
State                           Arizona
City                             Albany
Product                   Men's Apparel
Price per Unit                      9.0
Units Sold                           22
Total Sales                       520.0
Operating Profit                  249.6
Operating Margin                    0.2
Sales Method                   In-store
dtype: object

In [134]:
k.max()

Retailer                             Kohl's
Retailer ID                         1197831
Invoice Date            2021-12-25 00:00:00
Region                                 West
State                               Wyoming
City                             Wilmington
Product             Women's Street Footwear
Price per Unit                         75.0
Units Sold                              950
Total Sales                        520000.0
Operating Profit                   236250.0
Operating Margin                       0.75
Sales Method                         Outlet
dtype: object

In [180]:
k.min()

Retailer                         Kohl's
Retailer ID                     1128299
Invoice Date        2020-12-28 00:00:00
Region                          Midwest
State                           Arizona
City                             Albany
Product                   Men's Apparel
Price per Unit                      9.0
Units Sold                           22
Total Sales                       520.0
Operating Profit                  249.6
Operating Margin                    0.2
Sales Method                   In-store
dtype: object

In [135]:
z.max()

Retailer                             Amazon
Retailer ID                         1185732
Invoice Date            2021-12-31 00:00:00
Region                                 West
State                               Vermont
City                               Portland
Product             Women's Street Footwear
Price per Unit                         80.0
Units Sold                              900
Total Sales                        618750.0
Operating Profit                   290625.0
Operating Margin                       0.65
Sales Method                         Outlet
dtype: object

In [181]:
z.min()

Retailer                         Amazon
Retailer ID                     1185732
Invoice Date        2021-01-13 00:00:00
Region                          Midwest
State                           Alabama
City                          Anchorage
Product                   Men's Apparel
Price per Unit                     19.0
Units Sold                           13
Total Sales                       416.0
Operating Profit                  166.4
Operating Margin                   0.25
Sales Method                   In-store
dtype: object

In [136]:
w.max()

Retailer                            Walmart
Retailer ID                         1197831
Invoice Date            2021-12-16 00:00:00
Region                                 West
State                                 Texas
City                                Orlando
Product             Women's Street Footwear
Price per Unit                        110.0
Units Sold                             1200
Total Sales                        825000.0
Operating Profit                   390000.0
Operating Margin                       0.65
Sales Method                         Outlet
dtype: object

In [182]:
w.min()

Retailer                        Walmart
Retailer ID                     1128299
Invoice Date        2020-04-17 00:00:00
Region                        Northeast
State                          Arkansas
City                           Honolulu
Product                   Men's Apparel
Price per Unit                      8.0
Units Sold                           58
Total Sales                       880.0
Operating Profit                  403.2
Operating Margin                   0.15
Sales Method                   In-store
dtype: object

In [141]:
ms["Units Sold"].sum()

593320

In [142]:
mf["Units Sold"].sum()

435526

In [143]:
ma["Units Sold"].sum()

306683

In [144]:
ws["Units Sold"].sum()

392269

In [145]:
wf["Units Sold"].sum()

317236

In [148]:
wa["Units Sold"].sum()

433827

In [157]:
f.loc[:,["Region","State","City"]].max()

Region          West
State        Wyoming
City      Wilmington
dtype: object

In [183]:
f.loc[:,["Region","State","City"]].min()

Region      Midwest
State        Alaska
City      Anchorage
dtype: object

In [158]:
g.loc[:,["Region","State","City"]].max()

Region         West
State     Wisconsin
City      St. Louis
dtype: object

In [186]:
g.loc[:,["Region","State","City"]].min()

Region     Midwest
State     Arkansas
City        Albany
dtype: object

In [185]:
s.loc[:,["Region","State","City"]].max()

Region          West
State        Wyoming
City      Wilmington
dtype: object

In [187]:
s.loc[:,["Region","State","City"]].min()

Region    Midwest
State     Arizona
City       Albany
dtype: object

In [160]:
k.loc[:,["Region","State","City"]].max()

Region          West
State        Wyoming
City      Wilmington
dtype: object

In [188]:
k.loc[:,["Region","State","City"]].min()

Region    Midwest
State     Arizona
City       Albany
dtype: object

In [161]:
z.loc[:,["Region","State","City"]].max()

Region        West
State      Vermont
City      Portland
dtype: object

In [189]:
z.loc[:,["Region","State","City"]].min()

Region      Midwest
State       Alabama
City      Anchorage
dtype: object

In [175]:
w.loc[:,["Region","State","City"]].max()

Region       West
State       Texas
City      Orlando
dtype: object

In [19]:
w.loc[:,["Region","State","City"]].min()

Region    Northeast
State      Arkansas
City       Honolulu
dtype: object

In [6]:
a["Region"].value_counts()

West         2448
Northeast    2376
Midwest      1872
South        1728
Southeast    1224
Name: Region, dtype: int64

In [25]:
z["Operating Profit"].sum()

28818503.31

In [26]:
f["Product"].min()

"Men's Apparel"

In [17]:
g["Product"].min()

"Men's Apparel"

In [18]:
s["Product"].min()

nan

In [19]:
z["Product"].min()

"Men's Apparel"

In [40]:
k["Product"].min()

"Men's Apparel"

In [46]:
s["Product"].min()

"Men's Apparel"

In [50]:
sa=pd.Series()

0    f
1    g
2    s
3    k
4    z
5    w
dtype: object

In [52]:
s["Operating Profit"].sum()

74332954.96000001